<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benford's Law Diagramm</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/anomaly_manager.css') }}">
    <script src="{{ url_for('static', filename='js/anomaly_script.js') }}"></script>
</head>

<body>
    <div class="main-container">
        <!-- Kundeninfo oben links -->
        <div class="customer-info">
            <div><strong>Kunden Nr:</strong> <span id="kundenNr">-</span></div>
            <div><strong>Vorname:</strong> <span id="vorname">-</span></div>
            <div><strong>Nachname:</strong> <span id="nachname">-</span></div>
            <div><strong>Betriebsname:</strong> <span id="betriebsname">-</span></div>
            <div><strong>Zeitraum:</strong> <span id="zeitraum">-</span></div>
        </div>

        <div id="status" class="status">Keine Anomalien</div>

        <div class="chart-container">
            <div class="chart">
                <canvas id="benfordsChart"></canvas>
            </div>
            <div class="chart">
                <canvas id="yearlyChart"></canvas>
            </div>
            <div class="chart">
                <canvas id="monthlyChart"></canvas>
            </div>
            <div class="chart">
                <canvas id="incomeChart"></canvas>
            </div>
        </div>

        <!--        <div class="button-container">
            <button onclick="window.location.href='zweite.html'">Report Analyse</button>
        </div>-->
    </div>

</body>

</html>